body {
    font-size: 20px;
}
.custom-yes-button {
    background-color: #013397 !important;
    color: white;
    padding: 8px 16px !important;
    font-size: 14px !important;
}
.cancel-button {
    background-color: grey !important;
    padding: 8px 16px !important;
    font-size: 14px !important;
}
.ql-editor {
    background-color: white; /* Atur latar belakang menjadi putih */
  }